
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
"Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}


.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 1rem;
}


header {
    background-color: white;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

header nav ul li a {
    color: #6b7280;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #5A67D8;
}


.overview-hero {
    background-color: #E2E8F0;
    padding: 2rem 0;
}

.overview-hero .container {
    display: flex;           
    align-items: center;      
    gap: 2rem;                
    flex-wrap: wrap;          
}


.overview-hero-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.overview-hero-text {
    flex: 1;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.learn-about .card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
}

.learn-about .card img {
    max-width: 100%;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}

.learn-about h3 {
    font-size: 21px;
    color: #48BB78;
}


.testing {
    display: flex;               
    justify-content: space-between; 
    align-items: center;           
    background-color: #4A5568;
    color: white;
    padding: 2rem;
    flex-wrap: wrap;        
}

.testing .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    flex-wrap: wrap;                
    gap: 1rem;
}

.testing-description {
    flex: 1;                        
    min-width: 200px;
}

.cta .btn {
    background-color: #48BB78;      
    color: white;                   
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;            

}


.stories article {
    display: flex;
    margin-bottom: 1rem;
}

.stories img {
    border-radius: 50%;
    max-width: 150px;
    margin-right: 1rem;
}

.stories h2 {
    color: #5A67D8;
}

.stories a {
    color: #5A67D8;
    text-decoration: none;
}

.stories h3 {
    font-size: 18px;
}


.newsletter {
    text-align: center;
    background-color: #48BB78;
    color: white;
    padding: 2rem 0;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.newsletter input {
    padding: 0.5rem;
    font-size: 16px;
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


footer {
    background-color: #4A5568;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
